<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body" id="card-body-add-prod">
      <h1 class="text-center mb-3">
        <i class="fas fa-folder-plus"></i> Add Product
      </h1>
      <%- include('partials/messages'); %>
      <form action="/products/addProduct" method="POST">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Product Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="imageURL">imageURL</label>
          <input
            type="text"
            id="imageURL"
            name="imageURL"
            class="form-control"
            placeholder="Enter imageURL"
            value="<%= typeof imageURL != 'undefined' ? imageURL : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            id="price"
            name="price"
            class="form-control"
            placeholder="Enter Price"
            value="<%= typeof price != 'undefined' ? price : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            placeholder="Enter Description"
            value="<%= typeof description != 'undefined' ? description : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="category">Choose a Category:</label>
        <select id="category" name="category">
        <option value="Laptop">Laptop</option>
        <option value="Smartphone">Smartphone</option>
</select>
        </div>
        
        <button type="submit" class="btn btn-primary btn-block">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>